{# src/SGT/MediaBundle/Resources/views/Media/index.html.twig #}

{% extends "SGTCoreBundle::layout.html.twig" %}

{% block title %}
    Page des medias - {{ parent() }}
{% endblock %}

{% block body %}
	<fieldset>
		{{ form(form) }}
	</fieldset>
	<fieldset>

		{% for message in app.session.flashbag.get('info') %}
        <p>{{ message }}</p>
      {% endfor %}
		
		<table>
			<tr>
				<th>Thumbnail</th>
				<th>Nom</th>
				<th>Format</th>
				<th>Ajouté par</th>
			</tr>
		{% for media in listMedias %}				
					<tr>
						<td><a href="#"><img src="{{ asset(media.urlMini) }}" alt="{{ media.alt }}"/></a></td>
						<td>{{ media.name }}</td>
						<td>{{ media.format }}</td>
						{% if media.author %} <td>{{ media.author.name }}</td> {% endif %}
					</tr>
			{% else %}
				<p>Pas encore de medias!!!</p>
			{% endfor %}
		</table>
		


		{% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('sgt_admin_media', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
		
	</fieldset>

{% endblock %}