{# src/SGT/NewsBundle/Resources/views/News/index.html.twig #}

{% extends "SGTCoreBundle::layout.html.twig" %}

{% block title %}
    Page des News - {{ parent() }}
{% endblock %}

{% block body %}
	<fieldset>
		{{ form(form) }}
	</fieldset>
	<fieldset>
		<table>
			<tr>
				<th>id</th>
				<th>Contenu</th>
				<th>Status</th>
				<th>date ajout</th>
				<th>Ajouté par</th>
			</tr>
		{% for news in listNews %}				
					<tr>
						<td>{{ news.id }}</td>
						<td>{{ news.content }}</td>
						<td>{{ news.status }}</td>
						<td>{{ news.dateadd|date('d-m-Y') }}</td>
						{% if news.author %} <td>{{ news.author.name }} {{ news.author.lastname }}</td> {% endif %}
					</tr>
			{% else %}
				<p>Pas encore de medias!!!</p>
			{% endfor %}
		</table>

		{% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('sgt_admin_news', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
		
	</fieldset>

{% endblock %}